<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document PDF Oders</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Número</th>
                <th>Criado em</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= data.order.name %></td>
                <td><%= data.order.number %></td>
                <td><%= data.order.createdAt %></td>
            </tr>
        </tbody>
</body>
</html>